html {
  background-color: #fff;
  font-family: Georgia;
}

header {
  max-width: 400px;
  background-color: #ffe500;
}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  text-align: center;
  color: #b20953;
  padding: 0 10px;
  margin: 0;
}

nav {
  list-style: none;
  margin: 0.3em;
}

nav ul {
  padding: 0 0 0.4em;
}

nav li {
  display: inline-block;
  font-size: 1.125rem;
}

nav a {
  display: inline-block;
  color: #fff;
  background-color: #2f2d13;
  padding: 0.2em 0.5em 0.3em;
  margin: 0 0 0.2em;
  border-radius: 4px;
  text-decoration: none;
}

nav a:hover {
  background-color: #cc1465;
}

main h2 {
  max-width: 400px;
  color: #b20953;
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
}

main p {
  max-width: 400px;
  line-height: 1.5;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: 10px;
    max-width: 400px;
}

footer small {
  font-size: 0.75rem;
}
