html {
  background-color: #fff;
  color: #cc1465;
  font-family: Georgia;
}

header {
  background-color: #ffe500;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  text-align: center;
}

nav {
  font-size: 1.875rem;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav a {
  display: inline-block;
  color: #fff;
  background-color: #cc1465;
  padding: 0.2em 0.5em 0.3em;
  border-radius: 4px;
  text-decoration: none;
}

nav a:hover {
  background-color: #2f2d13;
}
