html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  text-align: center;
  color: #b20953;
  margin: 0;
  line-height: 1.5;
}

nav {
  list-style: none;
  margin: 0.3em;
}

nav ul {
  padding: 0 0 0.4em;
}

nav li {
  display: inline-block;
  font-size: 1.125rem;
}

nav a {
  display: inline-block;
  color: #fff;
  background-color: #b2a212;
  padding: 0.2em 0.5em 0.3em;
  margin: 0 0 0.2em;
  border-radius: 4px;
  text-decoration: none;
}

nav a:hover {
  background-color: #cc1465;
}

nav .current {
  background-color: #cc1465;
}

main {
  line-height: 1.5;
  margin: .3em;
}

main h2 {
  color: #b20953;
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;

}

img {
  max-width: 400px;
}

main p {
  color: #2f2d13;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: 10px;
}

footer small {
  font-size: 0.75rem;
}
