html {
  background-color: #fff;
  font-family: Georgia;
}

header {
  background-color: #ffe500;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  text-align: center;
  color: #cc1465;
  padding: 0 10px;
  margin: 0;
}

nav {
  font-size: 1.125rem;
  list-style: none;
  margin: 0;
}

nav ul {
  padding: 0 0 0.4em;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  color: #fff;
  background-color: #cc1465;
  padding: 0.2em 0.5em 0.3em;
  border-radius: 4px;
  text-decoration: none;
}

nav a:hover {
  background-color: #2f2d13;
}

h2 {
  color: #cc1465;
  font-family: 'Sigmar One', cursive;
  font-size: 1.875rem;
}
